<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-title>
            <img text-center src="assets/images/logo-upviewsly-white.png" class="title-image" />
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" [routerLink]="['/tabs/notifications']" class="custom-height">
                <ion-icon name="notifications"></ion-icon>
                <ion-badge slot="end" class="alert" *ngIf="notifService.countNotify">{{ notifService.countNotify }}
                </ion-badge>
            </ion-button>
            <ion-button color="white" [routerLink]="['/tabs/profile']">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div padding>
        <ion-segment [(ngModel)]="displayType">
            <ion-segment-button value="incoming" (click)="filterEvents('incoming')">
                {{ 'events.TO_COME_UP' | translate }}
            </ion-segment-button>
            <ion-segment-button value="past" (click)="filterEvents('past')">
                {{ 'events.PAST' | translate }}
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>

<ion-content>

    <div *ngIf="no_events" text-center style="position: absolute; top: 50%; transform: translateY(-50%); width: 100%;">        
        <ion-grid>
            <ion-row class="ion-margin">
                <ion-col>
                    <ion-item lines="none">
                        <div class="welcome-title ion-text-center">
                            <div class="ion-margin-bottom">
                                <ion-img style="width: 70px; height: 70px; margin-left: auto; margin-right: auto" src="../../../assets/images/icon-upviewsly.svg"></ion-img>
                            </div>
                            <p class="ion-margin-bottom">{{'events.NO_EVENT' | translate}}...</p>

                            <p class="font-size-0_9"><a style="text-decoration: none;" href="#" class="ion-no-padding ion-button" [routerLink]="['/tabs/add-event']">
                                {{'events.CREATE_EVENT' | translate}}</a></p>

                            <div class="ion-text-center">
                                <p class="font-size-0_9">
                                    {{'events.YOU_CAN_ALSO' | translate}} <a style="text-decoration: none;" href="#" class="ion-no-padding ion-button" [routerLink]="['/tabs/map']">
                                        {{'events.SEARCH_LOCATION' | translate}}
                                    </a><br>
                                    {{'events.AND' | translate}} {{'events.ADD_FAVORITE' | translate}},
                                    <a style="text-decoration: none;" href="#" class="ion-no-padding ion-button" [routerLink]="['/tabs/friends']">
                                        {{'events.CREATE_GROUP' | translate}}</a> {{'events.AND' | translate}} <a style="text-decoration: none;" href="#" class="ion-no-padding ion-button" [routerLink]="['/tabs/chat-list']">{{'events.CHAT_FRIENDS' | translate}}</a>.
                                </p>
                            </div>
                        </div>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    
    <div *ngFor="let item of eventFiltered; let i = index" lines="inset">
        <ion-card *ngIf="item.__zone_symbol__value">
            <ion-card-header (click)="goToEventDetails(item.__zone_symbol__value.id)">
                <ion-card-subtitle>
                    {{ item.__zone_symbol__value.fullDate }} {{'add-event.HOUR_DISPLAY' | translate}}
                    {{ item.__zone_symbol__value.date | date:'HH:mm'}} &bull; {{ item.__zone_symbol__value.address.city }}
                </ion-card-subtitle>
                <ion-card-title class="ion-text-wrap">{{ item.__zone_symbol__value.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-note class="card-infos--owner">{{'transports.OWNER' | translate}} {{ item.__zone_symbol__value.ownerName }}</ion-note>

                <p class="pending-status" *ngIf="item.__zone_symbol__value.status == 'PENDING'">{{ 'events.PENDING' | translate }}</p>
                <p class="success-status" *ngIf="item.__zone_symbol__value.status == 'CONFIRMED'">{{ 'events.ACCEPTED' | translate }}</p>
                <p class="danger-status" *ngIf="item.__zone_symbol__value.status == 'REJECTED'">{{ 'events.REJECTED' | translate }}</p>
            </ion-card-content>
            <div class="ion-card-footer ion-padding">
                <ion-buttons slot="start">
                    <ion-button color="primary" fill="clear" size="small" class="ion-no-padding ion-no-margin"
                        *ngIf="authService.getCurrentUserId() == item.__zone_symbol__value.owner && displayType == 'incoming'"
                        [routerLink]="['/tabs/add-event', item.__zone_symbol__value.eventPlaceId, 'edit', item.__zone_symbol__value.id]">
                        <ion-icon name="create"></ion-icon>
                        <div>{{ 'events.EDIT' | translate }}</div>
                    </ion-button>
                    <ion-button color="primary" fill="clear" size="small" class="ion-no-padding ion-no-margin"
                        *ngIf="authService.getCurrentUserId() == item.__zone_symbol__value.owner"
                        (click)="removeEvent(item.__zone_symbol__value.id, i)">
                        <ion-icon name="trash"></ion-icon>
                        <div>{{ 'events.DELETE' | translate }}</div>
                    </ion-button>
                </ion-buttons>
            </div>
        </ion-card>
    </div>
</ion-content>