.title-image {
    height: 24px;
}

ion-buttons>button {
    background: transparent;
}

ion-buttons>button>ion-icon {
    font-size: 1.1rem;
}

.gm-style .gm-style-iw-c {
    width: 200px;
}

.pending-status {
    color: #ffb100 !important;
}

.success-status {
    color: #10dc60 !important;
}

.danger-status {
    color: #f04141 !important;
}

ion-card-header {
    padding-bottom: .4rem;
}

ion-card-title {
    font-size: 22px;
}

ion-card-title::first-letter {
    text-transform: uppercase;
}

ion-card-content {
    padding-top: 0;
    padding-bottom: 0;
}

.card-infos-date::first-child {
    text-transform: uppercase;
}

.card-infos--owner {
    font-size: .9rem;
}

.ion-card-footer ion-buttons ion-button {
    font-size: 13px;
    margin: 0;
}