$stable: #f8f8f8 !default;
.scroll {
    padding: 10px 0 50px !important;
}

ion-avatar {
    width: 48px;
    height: 48px;
    margin: 5px 0;
}

.username {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 6px 0;
    white-space: nowrap;
}

.datemessage {
    display: block;
    font-size: .7rem;
    font-weight: 400;
    margin: 6px 2px 0;
}

.messages {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-content: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-bottom: 0 !important; // Down to 10px
    height: auto; // Set height of div
    .message {
        -webkit-box-flex: 1 !important;
        -moz-box-flex: 1 !important;
        -webkit-flex: 1 1 auto !important;
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
        padding: 2px !important;
        -webkit-transition: all 250ms ease-in-out !important;
        transition: all 250ms ease-in-out !important;
        overflow: hidden !important;
        text-align: right !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        -moz-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;

        ion-col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.time {
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 1 auto !important;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
    width: 120px !important;
    text-align: center !important;
    padding: 0 0 0 0 !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    -webkit-transform: translate3d(10px, 0, 0) !important;
    -moz-transform: translate3d(10px, 0, 0) !important;
    transform: translate3d(10px, 0, 0) !important;
    &.slide-right {
        -webkit-transform: translate3d(130px, 0, 0) !important;
        -moz-transform: translate3d(130px, 0, 0) !important;
        transform: translate3d(130px, 0, 0) !important;
    }
}

.usermessage {
    background-color: #820080 !important;
}

// This will change
.messages.other {
    .message {
        -webkit-transform: translate3d(0, 0, 0) !important;
        -moz-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        text-align: left !important;
    }
    .message.slide-right {
        -webkit-transform: translate3d(120px, 0, 0) !important;
        -moz-transform: translate3d(120px, 0, 0) !important;
        transform: translate3d(120px, 0, 0) !important;
    }
    span {
        color: black !important;
        background-color: #ececec !important;
    }
}

span {
    background: #007AFF !important;
    display: inline-block !important;
    color: white !important;
    padding: 10px !important;
    border-radius: 10px !important;
    text-align: left !important;
    max-width: 240px !important;
}

ion-footer {
    height: 4rem;
    padding: .75rem 1rem .5rem 1.5rem;
    background-color: #f6f6f6;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.5);
}