<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" [routerLink]="['/tabs/chat-list']">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title [ngStyle]="{'line-height': '18px'}">
            {{ chat?.title }}<br />
            <ng-container *ngIf="chat?.date">
                <ion-text>
                    <small>{{ chat?.date }} {{'add-event.HOUR_DISPLAY' | translate}} {{ baseEventDate | date:'HH:mm' }}</small>
                </ion-text>
            </ng-container>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="chat?.eventId" color="white" [routerLink]="['/tabs/event-details/', chat?.eventId]">
                <ion-icon name="eye" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="(!chat?.eventId && !chat?.groupId) ? true : false" (click)="exitDiscution()">
            <ion-button color="white">
                <ion-icon name="exit" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="content-stable">

    <!--<ion-infinite-scroll (ionInfinite)="loadMoreMessages($event)" position="top" treshold="10%">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>-->

    <!-- <ion-item lines="none" *ngIf="chat?.date && chat?.hour">
        <p class="font-size-0_9 no-margin"><strong>{{'add-event.DATE_DISPLAY' | translate}} {{ chat?.date }} {{'add-event.HOUR_DISPLAY' | translate}} {{ chat?.hour }}</strong></p>
        <ion-button small *ngIf="chat?.eventId" [routerLink]="['/tabs/event-details/', chat?.eventId]" slot="end">{{'chat.FORWARD_EVENT' | translate }}</ion-button>
    </ion-item>

    <div *ngIf="chat?.date && chat?.hour">
        <hr class="border-bottom no-margin" />
    </div> -->

    <div #scrollMe *ngIf="chat$ | async as chat">
        <div *ngFor="let msg of chat | reverse; trackBy: trackByCreated" [ngClass]="{other: msg.uid != uid}" class="messages">
            <div class="message">
                <ion-grid>
                    <ion-row class="ion-align-items-end">
                        <ion-col size="2" size-sm="1" size-md="1" size-lg="1" size-xl="1" class="useravatar-container ion-text-center ion-margin-right">
                            <!-- (click)="showUser(msg.user?.firebaseId)" -->
                            <div ion-text-center (click)="showUser(msg.user?.firebaseId)">
                                <ion-avatar class="useravatar" *ngIf="msg.uid != uid">
                                    <img [src]="msg.user?.imageURL" *ngIf="msg.user?.imageURL != '' " />
                                    <img src="../../../assets/images/default-avatar.png" *ngIf="msg.user?.imageURL == '' " />
                                </ion-avatar>
                            </div>
                        </ion-col>
                        <ion-col size="10" size-sm="11" size-md="11" size-lg="11" size-xl="11" class="userinfos-container">
                            <ion-text class="username" color="medium" *ngIf="msg.uid != uid">
                                <small>{{ msg.user?.firstName }}</small>
                            </ion-text>
                            <span *ngIf="!msg.content.type" class="usermessage">{{ msg.content }}</span>
                            <ng-container *ngIf="msg.content.type === 'location'">
                                <div no-padding [routerLink]="['/tabs/map', msg.content.placeId]">
                                    <span class="usermessage">{{ msg.content.msg }}&nbsp;&raquo;&nbsp;<small>{{ 'chat.VIEW_MAP' | translate }}</small></span>
                                </div>
                            </ng-container>
                            <ion-text color="medium">
                                <small class="datemessage">{{ msg.createdAt | dateAgo }}</small>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>

</ion-content>

<ion-footer padding-horizontal>
    <!-- <div *ngIf="chat$ | async as chat"> -->
    <div class="form">
        <ion-buttons slot="end">
            <ion-input [(ngModel)]="newMsg" spellcheck="true" autocomplete="on" autocorrect="on" (keydown.enter)="submit()" type="text" placeholder="{{ 'chat.TYPE_MESSAGE' | translate }}"></ion-input>
            <ion-button (mousedown)="$event.preventDefault(); submit()" color="primary">
                <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
            <ion-button color="primary" *ngIf="chat?.eventId" (click)="addLocation()">
                <ion-icon slot="icon-only" name="pin"></ion-icon>
            </ion-button>
            <ion-button color="primary" *ngIf="chat?.eventId" (click)="addDate()">
                <ion-icon slot="icon-only" name="calendar"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div>
    <!-- </div> -->
</ion-footer>