<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{'select-friends.TITLE' | translate}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionChange)="searchFriend($event)" placeholder="{{'common.SEARCH' | translate}}" debounce="700"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="displayedFriends?.length == 0 && !alreadyParticipants" text-center style="padding-top: 230px">
        {{'friends.NO_FRIEND' | translate}}{{searchUserFriend}}
    </div>
    <div *ngIf="displayedFriends?.length == 0 && alreadyParticipants" text-center style="padding-top: 230px">
        {{'friends.ALREADY_ADDED_ALL' | translate}}{{searchUserFriend}}
    </div>
    <ion-list>
        <ion-item *ngFor="let friend of displayedFriends" lines="none">
            <ion-avatar slot="start">
                <img [src]="friend.imageURL" *ngIf="friend.imageURL != '' " />
                <img src="../../../assets/images/default-avatar.png" *ngIf="friend.imageURL == '' " />
            </ion-avatar>
            <ion-label>
                <h6 class="text-ellipsis">{{friend.firstName}} {{friend.lastName}}</h6>
            </ion-label>
            <ion-checkbox [(ngModel)]="friend.checked" (click)="toggleUser(friend)"></ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentAddFriends()">
            <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer padding-left padding-right>
    <ion-button expand="full" (click)="validateModal()" [disabled]="!displayedFriends || displayedFriends.length == 0">
        {{'common.VALIDATE' | translate}}
    </ion-button>
</ion-footer>