<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-title>
            {{ 'onboarding.FILL_PROFILE' | translate }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" [disabled]="!group.valid" (click)="forward()">
                {{ 'onboarding.NEXT' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-margin">
            <ion-col>
                <ion-item lines="none">
                    <div class="welcome-title ion-text-center">
                        <ion-icon color="primary" name="contact" class="ion-no-margin ion-4x"></ion-icon>
                        <h3 class="ion-margin-bottom">{{ 'onboarding.WELCOME' | translate }} {{ name }} !</h3>
                    </div>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item lines="none" class="ion-no-margin ion-text-center">
                    {{ 'onboarding.INPUT_USERNAME' | translate }} :
                </ion-item>
                <ion-list [formGroup]="group">
                    <ion-item>
                        <!-- <ion-label position="floating" class="ion-text-wrap">{{ 'onboarding.INPUT_USERNAME' | translate }}</ion-label> -->
                        <ion-icon ios="ios-at" slot="start" md="ios-at" class="ion-no-margin"></ion-icon>&nbsp;
                        <ion-input type="text" placeholder="{{ 'onboarding.INPUT_USERNAME' | translate }}" [(ngModel)]="username" formControlName="username" (ngModelChange)="pseudoSubject.next($event)" (ionChange)="inputChange()" required></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-text color="success" *ngIf="(!isSearch && available && username.length >= 5 && username.length <= 15 && group.valid) ? true : false">
                            {{ username }} {{ 'onboarding.AVAILABLE' | translate }}
                        </ion-text>
                        <ion-text color="danger" *ngIf="(!isSearch && !available) ? true : false">
                            {{ username }} {{ 'onboarding.NOT_AVAILABLE' | translate }}
                        </ion-text>
                        <ion-text color="danger" *ngIf="(username.length < 5 || username.length > 15) ? true : false">
                            {{ 'onboarding.MAX_CHAR_USERNAME' | translate }}
                        </ion-text>
                        <ion-text color="danger" *ngIf="(username.length > 5 && username.length < 15 && !group.valid) ? true : false">
                            {{ 'onboarding.ERROR_FIELD_USERNAME' | translate }}
                        </ion-text>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>