<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons color="white" *ngIf="actionType" slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" [routerLink]="['/tabs/notifications']" class="custom-height">
                <ion-icon name="notifications"></ion-icon>
                <ion-badge slot="end" class="alert" *ngIf="notifService.countNotify">{{ notifService.countNotify }}</ion-badge>
            </ion-button>
            <ion-button color="white" [routerLink]="['/tabs/profile']">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed>
        <ion-row>
            <ion-toolbar>
                <ion-searchbar *ngIf="actionType == 'edit'" id="input-address-event-edit" placeholder="{{'add-event.ADDRESS_PLACEHOLDER' | translate}}" [(ngModel)]="eventPlace"></ion-searchbar>
                <ion-searchbar *ngIf="actionType != 'edit'" id="input-address-event" placeholder="{{'add-event.ADDRESS_PLACEHOLDER' | translate}}" [(ngModel)]="eventPlace"></ion-searchbar>
                <ion-buttons slot="end">
                    <ion-button color="primary" icon-only (click)="setLocationFromParticipants()">
                        <ion-icon name="locate"></ion-icon>
                    </ion-button>
                    <ion-button color="primary" icon-only (click)="openFavorite()">
                        <ion-icon name="heart"></ion-icon>
                    </ion-button>
                    <ion-button color="primary" icon-only (click)="setLocationFromProfile()">
                        <ion-icon name="home"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-row>
    </ion-grid>
    <div #mapEvent id="mapEvent"></div>
    <ion-grid fixed>
        <ion-item [formGroup]="group">
            <ion-input [(ngModel)]="eventName" spellcheck="true" autocomplete="on" autocorrect="on" formControlName="eventName" placeholder="{{'add-event.EVENT_NAME' | translate}}" required>
            </ion-input>
        </ion-item>
        <ion-row>
            <ion-col text-center>
                <small *ngIf="eventName && !group.valid" class="ion-padding error-color-field">{{ 'add-event.MAX_CHAR_NAME' | translate }}</small>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label>{{'add-event.PLACE' | translate}}</ion-label>
            <ion-input [readonly]="true" placeholder="{{ 'add-event.NO_PLACE' | translate }}" [(ngModel)]="eventPlace"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'add-event.DATE' | translate}}</ion-label>
            <ion-datetime type="full_date" displayFormat="DDD DD/MM/YYYY HH:mm" [dayShortNames]="dayShortNames" cancelText="{{'common.CANCEL' | translate}}" doneText="{{'common.OK' | translate}}" [min]="defaultDate" [max]="2080-12-31" [(ngModel)]="beginDate" required (ionChange)="handleChangeFromPicker()">
            </ion-datetime>
        </ion-item>
        <!--<ion-item>
            <ion-label>{{'add-event.HOUR' | translate}}</ion-label>
            <ion-datetime type="time" displayFormat="HH:mm" [min]="defaultHour" cancelText="{{'common.CANCEL' | translate}}" doneText="{{'common.OK' | translate}}" [(ngModel)]="beginHour" required></ion-datetime>
        </ion-item>-->
        <div *ngIf="participants?.length == 0" text-center style="padding-top: 30px">
            {{'add-event.NO_PARTICIPANTS' | translate}}
        </div>
        <div class="ion-margin-top ion-margin-bottom" *ngIf="participants">
            <ion-row class="scrollable">
                <ion-col class="app-user-card" size-md="5" size-sm="4" size-xs="3" offset="1" *ngFor="let item of participants">
                    <ion-avatar>
                        <img *ngIf="item.imageURL != ''" class="bg-img shadow" offset="10" [src]="item.imageURL" />
                        <img *ngIf="item.imageURL == ''" class="bg-img shadow" offset="10" src="../../../assets/images/default-avatar.png" />
                    </ion-avatar>
                    <ion-text class="user-infos" lines="none" no-padding>
                        <p class="username" text-wrap text-center>{{item.firstName}}<br>{{item.lastName}}</p>
                    </ion-text>
                    <ion-text class="user-status" lines="none" *ngIf="item.status == 'CONFIRMED' && actionType == 'edit' ">
                        <ion-icon slot="start" name="checkmark-circle" color="success" class="ion-no-margin"></ion-icon>
                        <ion-label color="success"><small>{{'events.PRESENT' | translate}}</small></ion-label>
                    </ion-text>
                    <ion-text class="user-status" lines="none" *ngIf="item.status == 'PENDING' && actionType == 'edit'">
                        <ion-icon slot="start" name="clock" color="warning" class="ion-no-margin"></ion-icon>
                        <ion-label color="warning"><small>{{'events.WAITING' | translate }}</small></ion-label>
                    </ion-text>
                    <ion-text class="user-status" lines="none" *ngIf="item.status == 'REJECTED' && actionType == 'edit' ">
                        <ion-icon slot="start" name="remove-circle" color="medium" class="ion-no-margin"></ion-icon>
                        <ion-label color="medium"><small>{{'events.NOT_COMING' | translate }}</small></ion-label>
                    </ion-text>
                </ion-col>
            </ion-row>
        </div>
        <div>
            <ion-button color="medium" fill="clear" class="font-size-1 ion-no-padding" (click)="addParticipants()">
                <ion-icon item-start name="add"></ion-icon> {{'add-event.PARTICIPANTS_ADD' | translate}}
            </ion-button>
        </div>
        <ion-row>
            <ion-col text-center>
                <ion-button [disabled]="!beginDate || !eventName || !participants || !eventPlace || isSending || !group.valid" (click)="submitEvent()">
                    {{ btnSubmit }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>