<ion-header>
  <ion-toolbar>
    <ion-title>{{'reset-password.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center">
  <ion-grid class="ion-align-items-center">

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)" novalidate>
          <div padding text-center>
            <ion-item>
              <ion-label position="floating">
                  {{'common.EMAIL' | translate}}
              </ion-label>
              <ion-input type="email" formControlName="email" value="{{email}}"></ion-input>
            </ion-item>
          </div>
          <div padding text-center>
            <ion-label class="success">{{successMessage}}</ion-label>
            <ion-label class="error">{{errorMessage}}</ion-label>  
          </div>
      
          <div padding>
            <!-- <ion-button [disabled]="!form.valid" (click)="signIn()">Se connecter</ion-button> -->
            <ion-button type="submit">
                {{'common.VALIDATE' | translate}}
            </ion-button>
          </div>
            
        </form>

      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <div padding>
          <p><a [routerLink]="['/login']">
            {{'reset-password.LOGIN' | translate}}
          </a></p>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</div>
</ion-content>
