<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'transports.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-content cache-view="false">
            <!--<ion-item lines="full" *ngIf="country">
                <ion-icon name="pin" slot="start" class="ion-sm ion-no-margin"></ion-icon>&nbsp;
                <ion-label>
                    <p>{{ country }}</p>
                </ion-label>
            </ion-item>-->
            <ion-item lines="full">
                <ion-icon name="pin" slot="start" class="ion-sm ion-no-margin"></ion-icon>&nbsp;
                <ion-label class="ion-text-wrap">
                    <p><b>{{'transports.DEPARTURE_FROM' | translate}}</b> {{ transport?.address }}</p>
                </ion-label>
                <ion-button fill="clear" color="primary" (click)="launchNavigatorApp()">
                  <ion-icon slot="icon-only" name="ios-navigate"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-item lines="full">
                <ion-icon name="car" slot="start" class="ion-sm ion-no-margin"></ion-icon>&nbsp;
                <ion-label>
                    <p><b>{{'transports.TYPE' | translate}}</b> {{ transport?.displayType }}</p>
                </ion-label>
            </ion-item>
            <ion-item lines="full">
                <ion-icon name="clock" slot="start" class="ion-sm ion-no-margin"></ion-icon>&nbsp;
                <ion-label>
                    <p><b>{{'transports.DEPARTURE_DATE' | translate}}</b>{{ transport?.date }} {{'add-event.HOUR_DISPLAY' | translate}} {{transport?._date | date:'HH:mm'}}</p>
                </ion-label>
            </ion-item>
            <ion-item lines="full" *ngIf="transport?.type !== 'BUS' && transport?.type !== 'TRAIN' && transport?.type !== 'SUBWAY' && transport?.type !== 'WALK'">
                <ion-icon name="person" slot="start" class="ion-sm ion-no-margin"></ion-icon>&nbsp;
                <ion-label>
                    <p *ngIf="transport?.seats == 0">{{ transport?.seats }} <b>{{'transports.NO_SEAT' | translate}}</b></p>
                    <p *ngIf="transport?.seats == 1">{{ transport?.seats }} <b>{{'transports.SEAT' | translate}}</b></p>
                    <p *ngIf="transport?.seats > 1">{{ transport?.seats }} <b>{{'transports.SEATS' | translate}}</b></p>
                </ion-label>
            </ion-item>
            <div #mapTransportDetail id="mapTransportDetail"></div>
        <div class="ion-padding-start">
            <ion-text class="font-size-1_2" color="text-normal" *ngIf="transport?.type == 'CAR'">
                <strong>{{'transports.DRIVER' | translate}}</strong>
            </ion-text>
            <ion-text class="font-size-1_2" color="text-normal" *ngIf="transport?.type != 'CAR'">
                <strong>{{'transports.OWNER' | translate}}</strong>
            </ion-text>
        </div>
        <ion-col class="app-user-card" size-md="5" size-sm="4" size-xs="3">
            <ion-avatar (click)="showUser(transportOwner)">
                <img class="bg-img shadow" offset="10" *ngIf="transportOwner?.profilePic != ''" [src]="transportOwner?.profilePic" />
                <img class="bg-img shadow" offset="10" *ngIf="transportOwner?.profilePic == ''" src="../../../assets/images/default-avatar.png" />
            </ion-avatar>
            <ion-text class="user-infos" lines="none" no-padding>
                <p class="username" text-wrap text-center>{{ transportOwner?.name }}</p>
            </ion-text>
        </ion-col>
        <div class="ion-padding-start">
            <ion-text class="font-size-1_2" color="text-normal"><strong>{{'transports.PASSENGERS' | translate}}</strong>
            </ion-text>
        </div>
        <div *ngIf="passengers?.length == 0" text-center style="padding-top: 20px">
            {{'transports.NO_PASSENGERS' | translate}}
        </div>
        <div class="ion-padding-horizontal" *ngIf="passengers?.length != 0">
            <ion-row class="scrollable">
                <ion-col class="app-user-card" size-md="5" size-sm="4" size-xs="3" *ngFor="let item of passengers">
                    <ion-avatar (click)="showUser(item)">
                        <img class="bg-img shadow" *ngIf="item.profilePic != ''" offset="10" [src]="item.profilePic" />
                        <img class="bg-img shadow" *ngIf="item.profilePic == ''" offset="10" src="../../../assets/images/default-avatar.png" />
                    </ion-avatar>
                    <ion-text class="user-infos" lines="none" no-padding>
                        <p class="username" text-wrap text-center>{{item.name}}</p>
                    </ion-text>
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="transport?.seats < 1 && transport?.seats != -1" text-center style="padding-top: 20px">
            {{'transports.NO_SEATS' | translate}}
        </div>
        <div class="ion-padding-horizontal" *ngIf="!isPassenger && !isOwner || 
    !isPassenger && transport?.type == 'BUS' ||
    !isPassenger && transport?.type == 'SUBWAY' ||
    !isPassenger && transport?.type == 'TRAIN' ||
    !isPassenger && transport?.type == 'WALK' ||
    !isPassenger && transport?.type == 'MOTO' " text-center>
            <ion-button slot="start" color="primary" *ngIf="!isOwner" [disabled]="transport?.seats < 1 && transport?.seats != -1 || userStatus != 'CONFIRMED'" (click)="subscribeTransport()">
                {{'transports.RESERVATION' | translate}}
            </ion-button>
        </div>
        <div class="ion-padding-horizontal" *ngIf="isPassenger" text-center>
            <ion-button slot="start" color="danger" (click)="unsubscribeTransport()">
                {{'transports.REMOVE_RESERVATION' | translate}}
            </ion-button>
        </div>
        <div class="ion-padding-horizontal" *ngIf="isOwner" text-center>
            <ion-button slot="start" color="danger" (click)="removeTransport()">
                {{'transports.REMOVE_TRANSPORT' | translate}}
            </ion-button>
        </div>

    </ion-content>

</ion-content>