ion-buttons>button {
    background: transparent;
}

ion-buttons>button>ion-icon {
    font-size: 1.1rem;
}

.gm-style .gm-style-iw-c {
    width: 200px;
}

.item-createdAt-color-grey {
    color: #696969 !important;
}