<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'notifications.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="notifications?.length == 0" text-center style="padding-top: 230px">
        {{'notifications.NO_NOTIFICATION' | translate}}
    </div>

    <ion-list>
        <div *ngFor="let item of notifications | sortBy:'createdAt'">
            <ion-item *ngIf="item.isRead" lines="inset">
                <ion-label padding (click)="showNotification(item.eventId, item.id, item)">
                    <p text-wrap><b>{{ item.title }}</b></p>
                    <p no-padding text-wrap>{{ item.body }}</p>
                    <p class="item-createdAt-color-grey">{{ item.createdAt | dateAgo }}</p>
                </ion-label>
                <ion-buttons end>
                    <button color="primary" ion-button icon-only (click)="removeNotification(item.id)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-item>
            <ion-item *ngIf="!item.isRead" lines="inset" color="light">
                <ion-label padding (click)="showNotification(item.eventId, item.id, item)">
                    <p text-wrap><b>{{ item.title }}</b></p>
                    <p no-padding text-wrap>{{ item.body }}</p>
                    <p class="item-createdAt-color-grey">{{ item.createdAt | dateAgo }}</p>
                </ion-label>
                <ion-buttons end>
                    <button ion-button icon-only (click)="removeNotification(item.id)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-item>
        </div>
    </ion-list>

</ion-content>