<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-title>
            {{ 'onboarding.CHOOSE_IMAGE' | translate }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" [disabled]="!base64Image" (click)="forward()">
                {{ 'onboarding.NEXT' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
    	<ion-row class="ion-margin">
            <ion-col text-center>
                <ion-avatar class="avatar">
                    <img [src]="imageURL" *ngIf="imageURL && !base64Image" />
                    <img [src]="base64Image" *ngIf="base64Image" />
                    <img src="../../../assets/images/default-avatar.png" *ngIf="!imageURL && !base64Image" />
                </ion-avatar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <a (click)="editPicture()">{{'common.EDIT_PICTURE' | translate}}</a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>