<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'edit-settings.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item detail (click)="openNativeSetting()">
            <ion-text>{{ 'settings.NOTIFICATION' | translate }}</ion-text>
        </ion-item>
    </ion-list>
</ion-content>