<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ 'event-details.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content cache-view="false">
    <div #mapEventDetails id="mapEventDetails"></div>
    <br />
    <ion-list class="ion-no-margin">
        <ion-item lines="full">
            <ion-label class="ion-text-wrap">
                <p>
                    {{ event?.title }}
                </p>
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-icon name="pin" slot="start" class="ion-sm ion-no-margin"></ion-icon>&nbsp;
            <ion-label>
                <p>
                    {{ event?.eventAddress }}
                </p>
            </ion-label>
            <ion-buttons *ngIf="event">
                <ion-button color="primary" (click)="launchNavigatorApp()">
                    <ion-icon slot="icon-only" name="ios-navigate"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!checkFavoriteFromPoi(event.eventPlaceId)" color="primary" (click)="addFavorite()">
                    <ion-icon name="heart"></ion-icon>
                </ion-button>
                <ion-button disabled *ngIf="checkFavoriteFromPoi(event.eventPlaceId)">
                    <ion-icon name="heart"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
        <ion-item lines="full">
            <ion-icon name="calendar" slot="start" class="ion-sm ion-no-margin"></ion-icon>&nbsp;
            <ion-label>
                <p><b>{{'events.BEGIN_DATE' | translate}}</b> {{ beginDate }}</p>
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-icon name="clock" slot="start" class="ion-sm ion-no-margin"></ion-icon>&nbsp;
            <ion-label>
                <p><b>{{'events.BEGIN_HOUR' | translate}}</b> {{ date | date:'HH:mm'}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <div class="ion-padding ion-margin-top">
        <ion-text class="font-size-1_2" color="text-normal"><strong>{{'add-event.PARTICIPANTS' | translate}}</strong>
        </ion-text>
    </div>
    <div class="ion-margin-bottom">
        <ion-row class="scrollable">
            <ion-col class="app-user-card" size-md="5" size-sm="4" size-xs="3" offset="1" *ngFor="let item of members">
                <ion-avatar (click)="showUser(item)">
                    <img *ngIf="item.imageURL !== ''" class="bg-img shadow" offset="10" [src]="item.imageURL" />
                    <img *ngIf="item.imageURL === ''" class="bg-img shadow" offset="10" src="../../../assets/images/default-avatar.png" />
                </ion-avatar>
                <ion-text class="user-infos" lines="none" no-padding>
                    <p class="username" text-wrap text-center>{{item.firstName}}<br>{{item.lastName}}</p>
                </ion-text>
                <ion-text class="user-status" lines="none" *ngIf="item.status == 'CONFIRMED'">
                    <ion-icon slot="start" name="checkmark-circle" color="success" class="ion-no-margin"></ion-icon>
                    <ion-label color="success"><small>{{'events.CONFIRM' | translate}}</small></ion-label>
                </ion-text>
                <ion-text class="user-status" lines="none" *ngIf="item.status == 'PENDING'">
                    <ion-icon slot="start" name="clock" color="warning" class="ion-no-margin"></ion-icon>
                    <ion-label color="warning"><small>{{'events.WAITING' | translate}}</small></ion-label>
                </ion-text>
                <ion-text class="user-status" lines="none" *ngIf="item.status == 'REJECTED'">
                    <ion-icon slot="start" name="remove-circle" color="medium" class="ion-no-margin"></ion-icon>
                    <ion-label color="medium"><small>{{'events.NOT_COMING' | translate}}</small></ion-label>
                </ion-text>
            </ion-col>
        </ion-row>
        <div class="ion-padding-horizontal" text-center *ngIf="userStatus == 'PENDING' && !pastEvent">
            <ion-button slot="end" color="success" (click)="setUserParticipation('CONFIRMED')">
                <ion-ripple-effect></ion-ripple-effect>
                {{'events.PRESENT' | translate}}
            </ion-button>
            <ion-button slot="start" color="danger" (click)="setUserParticipation('REJECTED')">
                {{'events.NOT_PRESENT' | translate}}
            </ion-button>
        </div>
        <div class="ion-padding-horizontal" text-center *ngIf="userStatus == 'REJECTED' && !pastEvent">
            <ion-button slot="end" color="success" (click)="setUserParticipation('CONFIRMED')">
                <ion-ripple-effect></ion-ripple-effect>
                {{'events.PRESENT' | translate}}
            </ion-button>
        </div>
        <div class="ion-padding-horizontal" text-center *ngIf="userStatus == 'CONFIRMED' && !pastEvent">
            <ion-button slot="start" color="danger" (click)="setUserParticipation('REJECTED')">
                {{'events.NOT_PRESENT' | translate}}
            </ion-button>
        </div>

    </div>

    <div class="ion-padding">
        <ion-text class="font-size-1_2" color="text-normal"><strong>{{'transports.TITLE' | translate}}</strong>
        </ion-text>
        <div *ngIf="transportList?.length == 0" text-center style="padding-top: 20px">
            {{'transports.NO_TRANSPORT' | translate}}
        </div>
        <ion-list>
            <ion-item *ngFor="let item of transportList">
                <ion-avatar slot="start">
                    <img *ngIf="item.type == 'CAR' || item.type == 'TAXI'" src="../../../assets/images/icon-car.png">
                    <img *ngIf="item.type == 'BUS'" size="large" src="../../../assets/images/icon-bus.png">
                    <img *ngIf="item.type == 'SUBWAY'" size="large" src="../../../assets/images/icon-subway.png">
                    <img *ngIf="item.type == 'TRAIN'" size="large" src="../../../assets/images/icon-train.png">
                    <img *ngIf="item.type == 'WALK'" size="large" src="../../../assets/images/icon-walk.png">
                    <img *ngIf="item.type == 'MOTO'" size="large" src="../../../assets/images/icon-motorcycle.png">
                </ion-avatar>
                <ion-label [routerLink]="['/tabs/transport-details',eventId ,item.transportDocId, userStatus]">
                    <p>{{'transports.OWNER' | translate}}{{item.ownerName}}</p>
                    <p>{{'transports.DEPARTURE_FROM' | translate}}{{item.fromAddress.address}} {{'add-transport.TRANSPORT_DATE' | translate}} {{item.transportDate}} {{'add-transport.TRANSPORT_HOUR' | translate}} {{item.date | date:'HH:mm'}}</p>
                    <p *ngIf="item.seats == 0">{{'transports.NO_SEAT' | translate}}</p>
                    <p *ngIf="item.seats == 1">{{item.seats}} {{'transports.SEAT' | translate}}</p>
                    <p *ngIf="item.seats > 1">{{item.seats}} {{'transports.SEATS' | translate}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-button color="medium " fill="clear " class="font-size-1 " [routerLink]="[ '/tabs/add-transport', eventId, date] " *ngIf="userStatus=='CONFIRMED' && !pastEvent">
            <ion-icon item-start name="add "></ion-icon>{{'event-details.CREATE_TRANSPORT' |translate }}
        </ion-button>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="chatId && !pastEventChats">
        <ion-fab-button [routerLink]="[ '/chat/', chatId] ">
            <ion-icon name="chatboxes"></ion-icon>
        </ion-fab-button>
    </ion-fab>



</ion-content>