#mapEventDetails {
    width: 100%;
    height: 50%;
    max-height: 15rem;
    overflow: auto !important;
}

.scrollable {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    // margin-right: -3.6rem;
    -webkit-overflow-scrolling: touch;
}

div[scrollx=true],
div[scrolly=true] {
    position: relative;
    overflow: hidden;
}

div[scrollx=true] {
    overflow-x: auto;
}

div[scrolly=true] {
    overflow-y: auto;
}

.scrollable .app-user-card {
    --image-width: 100%;
    --image-height: 130px;
    --content-padding: 6px;
}

.app-user-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.app-user-card ion-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}

.app-user-card .bg-img {
    background-color: var(--ion-color-white);
    background-size: cover;
    background-position: 100%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}

.username {
    font-size: .7em;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 0;
    height: 42px;
}

.user-status {
    position: relative;
    font-size: .9rem;
    top: -15px;
}

.user-status ion-icon {
    font-size: 16px;
    margin-right: 3px;
}

.icon-transport {
    width: 80px;
    height: 80px;
}

.detail-transport {
    font-size: 14px !important;
}