<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{'add-user.TITLE' | translate}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchUserString" (ionChange)="searchUser($event)" placeholder="{{'common.SEARCH' | translate}}" debounce="700"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="filteredUsers?.length == 0" text-center style="padding-top: 230px">
        {{'common.NOT_FOUND' | translate}}
    </div>
    <!-- User list-->
    <ion-list>
        <ion-item *ngFor="let user of filteredUsers" lines="none">
            <ion-avatar slot="start">
                <img *ngIf="user.imageURL != ''" [src]="user.imageURL" />
                <img *ngIf="user.imageURL == ''" src="../../../assets/images/default-avatar.png" />
            </ion-avatar>
            <ion-label>
                <h6 class="text-ellipsis">{{user.firstName}} {{user.lastName}}</h6>
            </ion-label>
            <ion-buttons>
                <ion-button *ngIf="!user.isAlreadyFriend && !user.isAlreadyRequested" expand="block" color="primary" (click)="sendFriendRequest(user)">
                    {{'add-user.SEND_INVITE' | translate}}
                </ion-button>
                <p *ngIf="user.isAlreadyFriend && user.isAlreadyRequested">
                    {{'add-user.ALREADY_FRIENDS' | translate}}
                </p>
                <p *ngIf="!user.isAlreadyFriend && user.isAlreadyRequested">
                    {{'add-user.ALREADY_REQUESTED' | translate}}
                </p>
                <p *ngIf="user.isAlreadyFriend && !user.isAlreadyRequested">
                    {{'add-user.ALREADY_FRIENDS' | translate}}
                </p>
            </ion-buttons>
        </ion-item>
    </ion-list>
</ion-content>