<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-title>{{'profile.TITLE' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" (click)="editProfile()">
                <ion-icon slot="icon-only" name="create">{{'common.UPDATE' | translate}}</ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div text-center padding class="item-content-gray">
        <ion-card padding class="card-user">
            <ion-avatar class="avatar">
                <img [src]="userData?.imageURL" *ngIf="userData?.imageURL != ''" />
                <img src="../../../assets/images/default-avatar.png" *ngIf="!userData?.imageURL" />
            </ion-avatar>
            <h2>
                <!-- {{authService.getCurrentUser()?.data.displayName}} -->
                {{this.userData?.firstName}} {{this.userData?.lastName}}
            </h2>

            <div class="text-lightgrey" *ngIf="userData?.username">
                @{{this.userData?.username}}
            </div>

            <p class="text-lightgey">
                {{this.userData?.city}}
            </p>
        </ion-card>
    </div>
    <ion-list lines="full">
        <ion-item detail (click)="openSettings()">
            {{'profile.PARAMETERS' | translate}}
        </ion-item>

        <ion-item detail (click)="logout()" [routerLink]="['/login']">
            {{'profile.LOGOUT' | translate}}
        </ion-item>
    </ion-list>


</ion-content>