ion-segment-button {
    display: inline-block!important;
}

ion-buttons > button {
    background: transparent;
}

ion-buttons > button > ion-icon{
    font-size: 1.1rem;
}

.gm-style .gm-style-iw-c {
    width: 200px;
}