<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-title>{{'friends.TITLE' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" [routerLink]="['/tabs/notifications']" class="custom-height">
                <ion-badge slot="end" class="alert" *ngIf="notifService.countNotify">{{ notifService.countNotify }}</ion-badge>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
            <ion-button color="white" [routerLink]="['/tabs/profile']">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div padding>
        <ion-segment [(ngModel)]="displayType">
            <ion-segment-button value="friends">
                {{ 'friends.FRIENDS' | translate }}
            </ion-segment-button>
            <ion-segment-button value="groups">
                {{ 'friends.GROUPS' | translate }}
            </ion-segment-button>
        </ion-segment>
        <ion-searchbar  class="ion-no-padding ion-padding-top" *ngIf="displayType == 'friends' && (filteredFriends?.length > 0 || searchUserString)" [(ngModel)]="searchUserString" debounce="500" (ionChange)="searchFriend($event)" placeholder="{{'common.SEARCH_FRIEND' | translate}}" debounce="700">
        </ion-searchbar>
        <ion-searchbar class="ion-no-padding ion-padding-top" *ngIf="displayType == 'groups' && (filteredGroups?.length > 0 || searchGroupString)" [(ngModel)]="searchGroupString" (ionChange)="searchGroup($event)" placeholder="{{'common.SEARCH_GROUP' | translate}}" debounce="700">
        </ion-searchbar>
    </div>
</ion-header>

<ion-content>

    <ng-container *ngIf="displayType == 'groups'">
        <div *ngIf="!filteredGroups || filteredGroups?.length == 0" text-center style="position: absolute; top: 50%; transform: translateY(-50%); left: auto; right: auto; width: 100%;">
            <div class="ion-margin">
                <div *ngIf="!searchGroupString" class="welcome-title ion-text-center">
                    <div class="ion-margin-bottom">
                        <ion-icon name="people" color="primary" class="ion-5x"></ion-icon>
                    </div>
                    <p class="ion-margin-bottom">{{'friends.NO_GROUP' | translate}}...</p>

                    <p class="font-size-0_9">
                        <a style="text-decoration: none;" href="#" class="ion-no-padding ion-button" routerLink="/group-details">
                        {{'add-friends.CREATE_FIRST_GROUP' | translate}}</a>
                    </p>
                </div>
                <div *ngIf="searchGroupString" class="welcome-title ion-text-center">
                    <div class="ion-margin-bottom">
                        <ion-icon name="people" color="primary" class="ion-5x"></ion-icon>
                    </div>
                    <p class="ion-margin-bottom">{{'common.NOT_FOUND' | translate}}...</p>
                </div>
            </div>
        </div>
        <ion-list>
            <ion-item-sliding *ngFor="let item of filteredGroups">
                <ion-item lines="inset" button [routerLink]="['/group-details', item.id]">
                    <ion-avatar>
                        <img [src]="item.imageURL" *ngIf="item.imageURL" />
                        <img src="../../../assets/images/default-users-avatar.png" *ngIf="!item.imageURL" />
                    </ion-avatar>
                    <ion-label padding>
                        {{ item.name }}
                        <!-- <p>{{ item.members }}</p> -->
                    </ion-label>
                    <!-- <ion-note slot="end" color="primary"> note </ion-note> -->
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option (click)="remove(item)" color="danger">
                        {{'common.DELETE' | translate}}
                        <ion-icon name="close" slot="end"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button routerLink="/group-details" routerDirection="forward">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>

    <ng-container *ngIf="displayType == 'friends'">
        <div *ngIf="!filteredFriends || filteredFriends?.length == 0" text-center style="position: absolute; top: 50%; transform: translateY(-50%); left: auto; right: auto; width: 100%;">
            <div class="ion-margin">
                <div *ngIf="!searchUserString" class="welcome-title ion-text-center">
                    <div class="ion-margin-bottom">
                        <ion-icon name="people" color="primary" class="ion-5x"></ion-icon>
                    </div>
                    <p class="ion-margin-bottom">{{'friends.NO_FRIEND' | translate}}...</p>

                    <p class="font-size-0_9">
                        <a style="text-decoration: none;" class="ion-no-padding ion-button" (click)="presentAddFriends()">
                        {{'add-friends.INVITE_FRIENDS' | translate}}</a>
                    </p>
                </div>
                <div *ngIf="searchUserString" class="welcome-title ion-text-center">
                    <div class="ion-margin-bottom">
                        <ion-icon name="people" color="primary" class="ion-5x"></ion-icon>
                    </div>
                    <p class="ion-margin-bottom">{{'common.NOT_FOUND' | translate}}...</p>
                </div>
            </div>
        </div>
        <ion-list>
            <ion-list-header *ngIf="friendRequests?.length == 1">{{'friends.REQUEST_FROM_SINGLE' | translate }}
            </ion-list-header>
            <ion-list-header *ngIf="friendRequests?.length > 1">{{'friends.REQUEST_FROM_MULTIPLE' | translate }}
            </ion-list-header>
            <ion-item *ngFor="let user of friendRequests">
                <ion-label *ngIf="user.__zone_symbol__value.user" (click)="showUser(user.__zone_symbol__value.user.firebaseId)">{{ user.__zone_symbol__value.user.displayName }}
                </ion-label>
                <ion-buttons slot="end">
                    <ion-button (click)="acceptRequest(user.__zone_symbol__value.request)">
                        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="rejectRequest(user.__zone_symbol__value.request)">
                        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item *ngFor="let friend of filteredFriends;" lines="none">
                <ion-avatar slot="start" (click)="showUser(friend.firebaseId)">
                    <img [src]="friend.imageURL" *ngIf="friend.imageURL != '' " />
                    <img src="../../../assets/images/default-avatar.png" *ngIf="friend.imageURL == '' " />
                </ion-avatar>
                <ion-label (click)="showUser(friend.firebaseId)">
                    <h6 class="text-ellipsis">{{friend.firstName}} {{friend.lastName}}</h6>
                </ion-label>
                <ion-buttons end>
                    <button ion-button icon-only (click)="removeFriend(friend)">
            <ion-icon name="trash"></ion-icon>
          </button>
                </ion-buttons>
            </ion-item>
        </ion-list>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="presentAddFriends()">
                <ion-icon name="person-add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>

</ion-content>