<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-title>{{'chat-list.TITLE' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" [routerLink]="['/tabs/notifications']" class="custom-height">
                <ion-badge slot="end" class="alert" *ngIf="notifService.countNotify">{{ notifService.countNotify }}</ion-badge>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
            <ion-button color="white" [routerLink]="['/tabs/profile']">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!chats || chats.length == 0" text-center style="position: absolute; top: 50%; transform: translateY(-50%); left: auto; right: auto; width: 100%;">
        <div class="ion-margin">
            <div class="welcome-title ion-text-center">
                <div class="ion-margin-bottom">
                    <ion-icon name="chatboxes" color="primary" class="ion-5x"></ion-icon>
                </div>
                <p class="ion-margin-bottom">{{'chat-list.NO_CHAT' | translate}}...</p>
            </div>
        </div>
    </div>
    <ion-list>
        <ion-item button *ngFor="let item of chats" [routerLink]="['/chat', item.id]" (click)="chatService.decrementUnreadMessages(item.id)">
            <ion-label ion-text-wrap>
                <div class="ion-text-wrap">{{item.title}}</div>
                <ng-container *ngIf="item.lastMessage">
                    <!-- any -->
                    <ion-text color="dark" *ngIf="!item.lastMessage.content.type && item.lastMessage.uid === uid"><small>{{ 'common.YOU' | translate }} : {{ item.lastMessage.content.length > 20 ? item.lastMessage.content.substring(0, 20) + '...' : item.lastMessage.content }} &bull; <span *ngIf="isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'HH:mm' }}</span><span *ngIf="!isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'dd/MM/yyyy' }}</span></small></ion-text>
                    <ion-text color="dark" *ngIf="!item.lastMessage.content.type && item.lastMessage.uid !== uid">
                        <ng-container *ngIf="item.timestamp">
                            <small *ngIf="item.lastMessage.createdAt > item.timestamp"><b>{{ item.firstname }} : {{ item.lastMessage.content.length > 20 ? item.lastMessage.content.substring(0, 20) + '...' : item.lastMessage.content }}</b> &bull; <span *ngIf="isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'HH:mm' }}</span><span *ngIf="!isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'dd/MM/yyyy' }}</span>
                            </small>
                            <small *ngIf="item.lastMessage.createdAt < item.timestamp">{{ item.firstname }} : {{ item.lastMessage.content.length > 20 ? item.lastMessage.content.substring(0, 20) + '...' : item.lastMessage.content }} &bull; <span *ngIf="isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'HH:mm' }}</span><span *ngIf="!isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'dd/MM/yyyy' }}</span>
                            </small>
                        </ng-container>
                    </ion-text>

                    <!-- Location -->
                    <ion-text color="dark" *ngIf="item.lastMessage.content.type == 'location' && item.lastMessage.uid === uid"><small>{{ 'common.YOU' | translate }} : {{ item.lastMessage.content.msg.length > 20 ? item.lastMessage.content.msg.substring(0, 20) + '...' : item.lastMessage.content.msg }} &bull; <span *ngIf="isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'HH:mm' }}</span><span *ngIf="!isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'dd/MM/yyyy' }}</span></small></ion-text>
                    <ion-text color="dark" *ngIf="!item.lastMessage.content.type == 'location' && item.lastMessage.uid !== uid">
                        <ng-container *ngIf="item.timestamp">
                            <small *ngIf="item.createdAt > item.lastViewed[[authService.getCurrentUserId()]]"><b>{{ item.firstname }} : {{ item.lastMessage.content.length > 20 ? item.lastMessage.content.substring(0, 20) + '...' : item.lastMessage.content }}</b> &bull; 
                                <span *ngIf="isToday(item.lastMessage.createdAt)">
                                    {{ item.lastMessage.createdAt | date:'HH:mm' }}
                                </span>
                                <span *ngIf="!isToday(item.lastMessage.createdAt)">
                                    {{ item.lastMessage.createdAt | date:'dd/MM/yyyy' }}
                                </span>
                            </small>
                            <small *ngIf="item.lastMessage.createdAt < item.timestamp">{{ item.firstname }} : {{ item.lastMessage.content.length > 20 ? item.lastMessage.content.substring(0, 20) + '...' : item.lastMessage.content }} &bull; 
                                <span *ngIf="isToday(item.lastMessage.createdAt)">
                                    {{ item.lastMessage.createdAt | date:'HH:mm' }}
                                </span>
                                <span *ngIf="!isToday(item.lastMessage.createdAt)">
                                    {{ item.lastMessage.createdAt | date:'dd/MM/yyyy' }}
                                </span>
                            </small>
                        </ng-container>
                    </ion-text>
                    <ion-text color="dark" *ngIf="!item.lastMessage.content.type == 'location' && item.lastMessage.uid !== uid"><small>{{ 'common.YOU' | translate }} : {{ item.lastMessage.content.length > 20 ? item.lastMessage.content.substring(0, 20) + '...' : item.lastMessage.content }} &bull; <span *ngIf="isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'HH:mm' }}</span><span *ngIf="!isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'dd/MM/yyyy' }}</span></small></ion-text>
                    <ion-text color="dark" *ngIf="item.lastMessage.content.type == 'location' && item.lastMessage.uid !== uid">
                        <ng-container *ngIf="item.timestamp">
                            <small *ngIf="item.lastMessage.createdAt > item.timestamp"><b>{{ item.firstname }} : {{ item.lastMessage.content.msg.length > 20 ? item.lastMessage.content.msg.substring(0, 20) + '...' : item.lastMessage.content.msg }}</b> &bull; <span *ngIf="isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'HH:mm' }}</span><span *ngIf="!isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'dd/MM/yyyy' }}</span>
                            </small>
                            <small *ngIf="item.lastMessage.createdAt < item.timestamp">{{ item.firstname }} : {{ item.lastMessage.content.msg.length > 20 ? item.lastMessage.content.msg.substring(0, 20) + '...' : item.lastMessage.content.msg }} &bull; <span *ngIf="isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'HH:mm' }}</span><span *ngIf="!isToday(item.lastMessage.createdAt)">{{ item.lastMessage.createdAt | date:'dd/MM/yyyy' }}</span>
                            </small>
                        </ng-container>
                    </ion-text>
                </ng-container>
                <!--<p *ngIf="item.eventDate != null">{{'add-event.DATE_DISPLAY' | translate}} {{ item.eventDate }} {{'add-event.HOUR_DISPLAY' | translate}} {{ item.eventHour }} </p>-->
            </ion-label>

            <!-- <ion-item lines="none">
            <ion-buttons slot="end">
                <ion-button (click)="removeChat(item)">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
            </ion-item> -->
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="createChat(chats)">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>