<ion-tabs>

    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="events">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>{{'tabs.AGENDA' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map">
            <ion-icon name="pin"></ion-icon>
            <ion-label>{{'tabs.PLACES' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="add-event" [routerLink]="['/tabs/add-event']">
            <ion-icon name="add"></ion-icon>
            {{'tabs.CREATE_EVENT' | translate}}
        </ion-tab-button>

        <ion-tab-button tab="chat-list">
            <ion-icon name="chatboxes"></ion-icon>
            <ion-label>{{'tabs.MESSAGES' | translate}}</ion-label>
            <ion-badge color="danger" *ngIf="chatService.unreadMessages > 0">{{ chatService.unreadMessages }}</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="friends">
            <ion-icon name="people"></ion-icon>
            <ion-label>{{'tabs.FRIENDS' | translate}}</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>