<!--<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-title>
            {{ 'onboarding.FIND_FRIEND' | translate }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" (click)="forward()">
                {{ 'onboarding.COMPLETE' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>-->

<ion-content>
    <ion-grid>
        <ion-row class="ion-margin">
            <ion-col>
                <ion-item lines="none">
                    <div class="welcome-title ion-text-center">
                        <ion-icon color="primary" name="contacts" class="ion-no-margin ion-4x"></ion-icon>
                        <h3 class="ion-margin-bottom">{{ 'onboarding.FIND_FRIEND' | translate }}</h3>
                        <div class="ion-text-center">{{ 'onboarding.FRIEND_SUGGEST' | translate }}.</div>
                    </div>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class="ion-margin-vertical">
    <ion-button (click)="openFriend()" class="ion-margin" expand="block">
        {{ 'onboarding.FIND_FRIEND_BTN' | translate }}
    </ion-button>
    <div class="ion-text-center"><a (click)="forward()">{{ 'onboarding.FIND_LATER' | translate }}</a></div>
</ion-footer>