<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
        <ion-button (click)="closeModal()">Retour</ion-button>
    </ion-buttons> -->
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{'contacts.TITLE' | translate}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchContactString" (ionChange)="searchContact()" placeholder="{{'common.SEARCH' | translate}}" debounce="700"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item id="empty-list" *ngIf="displayedContacts.length == 0">
            {{'contacts.EMPTY_LIST' | translate}}
        </ion-item>

        <ion-item *ngFor="let contact of displayedContacts">
            <ion-label>{{contact.name.givenName}} {{contact.name.familyName}}
                <p>{{contact.displayName}}</p>
            </ion-label>
            <ion-checkbox *ngIf="!contactsFromApp" [(ngModel)]="contact.checked" (click)="toggleContact(contact)"></ion-checkbox>
            <ion-button *ngIf="contactsFromApp && !contact.isAlreadyFriend && !contact.isAlreadyRequested" expand="block" color="primary" (click)="sendFriendRequest(contact)">
                {{'add-user.SEND_INVITE' | translate}}
            </ion-button>
            <p *ngIf="contactsFromApp && contact.isAlreadyFriend && contact.isAlreadyRequested">
                {{'add-user.ALREADY_FRIENDS' | translate}}
            </p>
            <p *ngIf="contactsFromApp && !contact.isAlreadyFriend && contact.isAlreadyRequested">
                {{'add-user.ALREADY_REQUESTED' | translate}}
            </p>
            <p *ngIf="contactsFromApp && contact.isAlreadyFriend && !contact.isAlreadyRequested">
                {{'add-user.ALREADY_FRIENDS' | translate}}
            </p>
        </ion-item>
    </ion-list>

</ion-content>

<!-- <ion-footer no-border padding-left padding-right *ngIf="displaySendButton"> -->
<ion-footer padding-left padding-right>
    <ion-button *ngIf="!contactsFromApp" expand="full" (click)="saveSelection()">
        {{'common.VALIDATE' | translate}}
    </ion-button>
</ion-footer>