<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ "add-favorite-event.TITLE" | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="favorite">
        <div *ngIf="favoriteList?.length == 0" text-center style="padding-top: 230px">
            {{'map.NO_FAVORITE' | translate}}
        </div>
        <ion-list>
            <ion-item *ngFor="let item of favoriteList" lines="inset">
                <ion-label padding (click)="selectFavorite(item)">
                    {{ item.name }}
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

</ion-content>