<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{'add-friends.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button color="dark" fill="clear" expand="full" (click)="addFriendsFromAppUsers()">
        <div text-left>
            <ion-icon slot="start" name="search"></ion-icon>
            <ion-label padding>{{'add-friends.FIND_USER' | translate }}</ion-label>
        </div>
    </ion-button>

<!--
    <ion-button *ngIf="hasFacebookLogin" color="dark" fill="clear" expand="full" (click)="getUserFbFriends()">
        <div text-left>
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            <ion-label padding>{{'add-friends.FACEBOOK_FRIENDS' | translate }}</ion-label>
        </div>
    </ion-button>
-->
    <!-- Friend list-->
<!--
    <ion-list *ngIf="hasFacebookLogin">
        <ion-list-header *ngIf="noFbFriends">{{"add-friends.NO_FB_FRIENDS" | translate }}</ion-list-header>
        <ion-item *ngFor="let friend of fbFriends" lines="none">
            <ion-avatar slot="start">
                <img *ngIf="friend.imageURL != ''" [src]="friend.imageURL" />
                <img *ngIf="friend.imageURL == ''" src="../../../assets/images/default-avatar.png" />
            </ion-avatar>
            <ion-label>
                <h6 class="text-ellipsis">{{friend.firstName}} {{friend.lastName}}</h6>
            </ion-label>
            <ion-button *ngIf="!friend.isAlreadyFriend && !friend.isAlreadyRequested" expand="block" color="primary" (click)="sendFriendRequest(friend)">
                {{'add-user.SEND_INVITE' | translate}}
            </ion-button>
            <p *ngIf="friend.isAlreadyFriend && friend.isAlreadyRequested">{{'add-user.ALREADY_FRIENDS' | translate }}</p>
            <p *ngIf="!friend.isAlreadyFriend && friend.isAlreadyRequested">{{'add-user.ALREADY_REQUESTED' | translate }}</p>
            <p *ngIf="friend.isAlreadyFriend && !friend.isAlreadyRequested">{{'add-user.ALREADY_FRIENDS' | translate }}</p>
        </ion-item>
    </ion-list>
-->


    <ion-button color="dark" fill="clear" expand="full" (click)="addFriendsFromContacts(true)">
        <div text-left>
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label padding>{{'add-friends.INVITE_CONTACTS_HAVING_APP' | translate }}</ion-label>
        </div>
    </ion-button>

    <ion-button color="dark" fill="clear" expand="full" (click)="addFriendsFromContacts(false)">
        <div text-left>
            <ion-icon slot="start" name="contacts"></ion-icon>
            <ion-label padding>{{'add-friends.INVITE_ALL_CONTACTS' | translate }}</ion-label>
        </div>
    </ion-button>

    <ion-button color="dark" fill="clear" expand="full" (click)="share()">
        <div text-left>
            <ion-icon slot="start" name="share"></ion-icon>
            <ion-label padding>{{'add-friends.SHARE_WITH_SOCIAL_NETWORKS' | translate }}</ion-label>
        </div>
    </ion-button>
</ion-content>