.scroll {
    height: 100%
}

#map {
    width: 100%;
    height: 100%;
    overflow: auto !important;
}

.segment-white {
    background-color: white;
}

ion-buttons>button {
    background: transparent;
}

ion-buttons>button>ion-icon {
    font-size: 1.1rem;
}

.gm-style-iw {
    width: 500px!important; 
}

ul.info-window--list-actions {
    list-style: none;
    margin: .75em 0;
    padding: 0;
}

ul.info-window--list-actions li {
    margin: .5rem 0;
}