<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-title>{{'map.TITLE' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" [routerLink]="['/tabs/notifications']" class="custom-height">
                <ion-badge slot="end" class="alert" *ngIf="notifService.countNotify">{{ notifService.countNotify }}</ion-badge>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>
            <ion-button color="white" [routerLink]="['/tabs/profile']">
                <ion-icon slot="icon-only" name="person"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div padding class="segment-white">
        <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="menuIcon">
            <ion-segment-button value="map" active>
                <ion-label name="map">{{'map.LOCATION' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="favorite">
                <ion-label name="heart">{{'map.FAVORITE' | translate}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

</ion-header>

<ion-content fullscreen>

    <ion-grid fixed id="search">
        <ion-row>
            <ion-searchbar id="input-address-map" placeholder="{{'map.SEARCH_PLACEHOLDER' | translate}}" [(ngModel)]="eventPlace"></ion-searchbar>
        </ion-row>
    </ion-grid>
    
    <div #map id="map"></div>

    <div id="favorite" hidden>
        <div *ngIf="favoriteList?.length == 0" text-center style="padding-top: 230px">
            {{'map.NO_FAVORITE' | translate}}
        </div>
        <ion-list>
            <ion-item *ngFor="let item of favoriteList" lines="inset">
                <ion-label padding (click)="editFavorite(item, 'update')">
                    {{ item.name }}
                </ion-label>
                <ion-buttons end>
                    <button  color="primary" ion-button icon-only [routerLink]="['/tabs/add-event', item.id]">
                            <ion-icon name="calendar"></ion-icon>
                    </button>
                    <button color="primary" ion-button icon-only (click)="removeFavorite(item.docId)">
                        <ion-icon name="trash"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-item>
        </ion-list>
    </div>

</ion-content>