ion-item{
    --background: rgba(255, 255, 255, 0);
    --color: var(--ion-color-dark);
    --border-color: var(--ion-color-dark);
    --vertical-align: middle;
}

.logos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#forgotPassword{
    color: black;
    border-bottom: var(--ion-color-dark);
}

.login{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 96%;
    margin-top: 1rem;
}
  
.error{
    color: var(--ion-color-danger);
}

.facebook-button{ 
    --background: var(--facebook-color);
}
.google-button{
    --background: var(--google-color);
}
  

