<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'add-location.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-toolbar>
                <ion-searchbar id="input-address" placeholder="{{'add-location.TITLE' | translate}}" [(ngModel)]="eventPlace"></ion-searchbar>
                <ion-buttons slot="end">
                    <ion-button color="primary" icon-only (click)="openFavorite()">
                        <ion-icon name="heart"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-row>
    </ion-grid>
    <div #mapLocation id="mapLocation"></div>
</ion-content>

<ion-footer>
    <ion-button expand="full" (click)="validateModal()" [disabled]="!eventPlace">
        {{'common.SEND' | translate}}
    </ion-button>
</ion-footer>