<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'common.UPDATE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label> {{ place.name }} </ion-label>
        </ion-item>
        <ion-item *ngIf="place.address">
            <ion-label> {{ place.address }} </ion-label>
        </ion-item>
        <ion-item>
            <form [formGroup]="form">
                <p>{{'edit-favorite.ADD_TAG' | translate}}</p>
                <tag-input theme="minimal" formControlName="tags" placeholder="{{'edit-favorite.MORE_TAG' | translate}}" secondaryPlaceholder="{{'edit-favorite.TAG_EXAMPLE' | translate }}">
                </tag-input>
            </form>
        </ion-item>
    </ion-list>
    <div #map id="map"></div>
    <ion-row>
        <ion-col text-center>
            <ion-button (click)="uploadFavorite(place, form.value, type)">{{'common.SAVE' | translate}}</ion-button>
        </ion-col>
    </ion-row>

</ion-content>