// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

/* Custom */

.gradient-color {
    --background: rgb(130,0,128)!important;
    --background: -moz-linear-gradient(to right, rgba(130,0,128,1) 0%, rgba(244,0,254,1) 100%)!important;
    --background: -webkit-linear-gradient(to right, rgba(130,0,128,1) 0%, rgba(244,0,254,1) 100%)!important;
    --background: linear-gradient(to right, rgba(130,0,128,1) 0%, rgba(244,0,254,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#820080",endColorstr="#F400FE",GradientType=1) !important;
    --color:#ffffff;
}

ion-badge.alert {
    font-size: .8rem !important;
    position: absolute; // Change relative to absolute
    top: 3px; // Change -10px to 3px
    right: 0px; // Change 10px to 0px
    padding: 2px 5px;
    background-color: #FA3E3E;
    border-radius: 50%;
}

.custom-height {
    height: 42px !important;
}

/*------------- Ionicons */

.ion-lg {
    position: relative;
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.ion-2x {
    position: relative;
    font-size: 2em;
}

.ion-3x {
    position: relative;
    font-size: 3em;
}

.ion-4x {
    position: relative;
    font-size: 4em;
}

.ion-5x {
    position: relative;
    font-size: 5em;
}

.ion-fw {
    display: inline-block;
    width: 1.28571em;
    text-align: center;
}

.ion-ul {
    padding-left: 0;
    margin-left: 2.14286em;
    list-style-type: none;
}

.ion-ul > li {
    position: relative;
}

.ion-li {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    top: 0.14286em;
    text-align: center;
}

.ion-li.ion-lg {
    left: -1.85714em;
}

.ion-spin {
    -webkit-animation: ion-spin 2s infinite linear;
    animation: ion-spin 2s infinite linear;
}

.ion-pulse {
    display: inline-block;
    -webkit-animation: ion-spin 1s infinite steps(8);
    animation: ion-spin 1s infinite steps(8);
}

@-webkit-keyframes ion-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes ion-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.ion-rotate-90 {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    transform: rotate(90deg);
}

.ion-rotate-180 {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg);
}

.ion-rotate-270 {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(270deg);
}

.ion-flip-horizontal {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    transform: scale(-1, 1);
}

.ion-flip-vertical {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    transform: scale(1, -1);
}

.ion-flip-vertical {
    filter: none;
}

/*------------- Typography */

.font-size-0_5 {
    font-size: .5rem;
}

.font-size-0_6 {
    font-size: .6rem;
}

.font-size-0_7 {
    font-size: .7rem;
}

.font-size-0_8 {
    font-size: .8rem !important;
}

.font-size-0_9 {
    font-size: .9rem !important;
}

.font-size-1 {
    font-size: 1rem !important;
}

.font-size-1_1 {
    font-size: 1.1rem !important;
}

.font-size-1_2 {
    font-size: 1.2rem !important;
}

.font-size-1_3 {
    font-size: 1.3rem !important;
}

.font-size-1_4 {
    font-size: 1.4rem !important;
}

.font-size-1_5 {
    font-size: 1.5rem !important;
}

/*------------- Buttons */

ion-button {
    text-transform: none;
    letter-spacing: normal;
}

/*------------- Helpers */

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.no-border {
    border-bottom: none;
}

.border-top {
    border-top: 1px solid #c8c7cc;
}

.border-right {
    border-top: 1px solid #c8c7cc;
}

.border-bottom {
    border-bottom: 1px solid #c8c7cc;
}

.border-left {
    border-left: 1px solid #c8c7cc;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin {
    margin: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-left {
    margin-left: 0;
}

/* Ionicons */

.ion-sm {
    position: relative;
    font-size: 1.1em;
    line-height: 0.75em;
    vertical-align: -10%;
}

.ion-lg {
    position: relative;
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.ion-2x {
    position: relative;
    font-size: 2em;
}

.ion-3x {
    position: relative;
    font-size: 3em;
}

.ion-4x {
    position: relative;
    font-size: 4em;
}

.ion-5x {
    position: relative;
    font-size: 5em;
}

.ion-fw {
    display: inline-block;
    width: 1.28571em;
    text-align: center;
}

.ion-ul {
    padding-left: 0;
    margin-left: 2.14286em;
    list-style-type: none;
}

.ion-ul > li {
    position: relative;
}

.ion-li {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    top: 0.14286em;
    text-align: center;
}

.ion-li.ion-lg {
    left: -1.85714em;
}

.ion-spin {
    -webkit-animation: ion-spin 2s infinite linear;
    animation: ion-spin 2s infinite linear;
}

.ion-pulse {
    display: inline-block;
    -webkit-animation: ion-spin 1s infinite steps(8);
    animation: ion-spin 1s infinite steps(8);
}

@-webkit-keyframes ion-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes ion-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.ion-rotate-90 {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    transform: rotate(90deg);
}

.ion-rotate-180 {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg);
}

.ion-rotate-270 {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(270deg);
}

.ion-flip-horizontal {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    transform: scale(-1, 1);
}

.ion-flip-vertical {
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    transform: scale(1, -1);
}

.ion-flip-vertical {
    filter: none;
}

/* Header */

ion-header {
    background: #ffffff;
}

/* Google Map */

ul.info-window--list-actions {
    list-style: none;
    margin: .75em 0;
    padding: 0;
}

ul.info-window--list-actions li {
    margin: .5rem 0;
}