ion-item{
    --background: rgba(255, 255, 255, 0);
    --color: var(--ion-color-dark);
    --border-color: var(--ion-color-dark);
    --vertical-align: middle;
}

.logos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.error{
    color: var(--ion-color-danger);
}

.success{
    color: var(--ion-color-success);
}

.login{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 96%;
    margin-top: 1rem;
}

.facebook-button{ 
    --background: var(--facebook-color);
}
.google-button{
    --background: var(--google-color);
}