<ion-header>
    <ion-toolbar>
        <ion-title>{{'register.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center fullscreen="true">
    <div class="login">
        <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-col size="9">
                    <div class="logos">
                        <ion-img src="../../../assets/images/logo-upviewsly.png"></ion-img>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-col size="12">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" novalidate>

                        <div class="ion-padding-horizontal ion-margin-bottom" text-center>
                            <ion-item>
                                <ion-label position="floating">
                                    {{'common.EMAIL' | translate}}
                                </ion-label>
                                <ion-input type="email" formControlName="email" value="{{email}}"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">
                                    {{'common.PASSWORD' | translate}}
                                </ion-label>
                                <ion-input type="password" formControlName="password" value="{{password}}"></ion-input>
                            </ion-item>
                        </div>

                        <div class="ion-padding-horizontal ion-margin-bottom" text-center>
                            <ion-label class="success">{{successMessage}}</ion-label>
                            <ion-label class="error">{{errorMessage}}</ion-label>
                        </div>

                        <div class="ion-margin-bottom">
                            <!-- <ion-button [disabled]="!form.valid" (click)="signIn()">Se connecter</ion-button> -->
                            <ion-button type="submit">
                                {{'common.VALIDATE' | translate}}
                            </ion-button>
                        </div>

                    </form>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" class="facebook-button" (click)="loginWithFacebook()">
                        {{'register.FACEBOOK_LOGIN' | translate}}
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" class="google-button" (click)="loginWithGoogle()">
                        {{'register.GOOGLE_LOGIN' | translate}}
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <small><a [routerLink]="['/login']">{{'register.LOGIN' | translate}}</a></small>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-padding-top" size="12">
                    <ion-text>
                        <small>
                          {{ 'common.CGU' | translate }} <a href="http://upviewsly.com/cgu">{{ 'common.CGU_LINK' | translate }}</a>
                        </small>
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>