<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="closeModal()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="user">
            <ng-container *ngIf="user.data">
                {{ user.data.displayName }}
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
    <div text-center padding class="item-content-gray">
        <ion-card padding class="card-user">
            <ion-avatar class="avatar">
                <img [src]="user.data?.imageURL" *ngIf="user.data?.imageURL != ''" />
                <img src="../../../assets/images/default-avatar.png" *ngIf="!user.data?.imageURL" />
            </ion-avatar>
            <h2>
                {{user.data?.firstName}} {{user.data?.lastName}}
            </h2>
            <div class="text-lightgrey">@{{user.data?.username}}</div>
            <p class="text-lightgrey">
                {{user.data?.email}}
            </p>
            <p class="text-lightgey">
                {{user.data?.city}}
            </p>
        </ion-card>
        <ion-button class="ion-margin-top" (click)="sendFriendRequest()" [disabled]="(alreadyFriends || alreadyFriendRequested) ? true : false">{{ (alreadyFriends) && ('public-profile.ALREADY_FRIEND' | translate) || (alreadyFriendRequested) && ('public-profile.ALREADY_REQUESTED' | translate) || (alreadyFriendRequested == false && alreadyFriends == false) && ('public-profile.ADD_FRIEND'
            | translate) }}</ion-button>
    </div>
</ion-content>