<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'add-date.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed>
        <ion-item>
            <ion-label>{{'add-transport.TRANSPORT_DATE' | translate}}</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY {{'add-transport.TRANSPORT_HOUR' | translate}} HH:mm" [min]="today" cancelText="{{'common.CANCEL' | translate}}" doneText="{{'common.OK' | translate}}" [(ngModel)]="date" required>
            </ion-datetime>
        </ion-item>
    </ion-grid>

</ion-content>

<ion-footer>
    <ion-button expand="full" (click)="validateModal()">
        {{'common.SEND' | translate}}
    </ion-button>
</ion-footer>