<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="type != 'chat' ">{{'add-event.PARTICIPANTS_TITLE' | translate}}</ion-title>
        <ion-title *ngIf="type == 'chat' ">{{'chat.TITLE_ADD_FRIENDS' | translate}}</ion-title>
    </ion-toolbar>
    <ion-segment [(ngModel)]="displayType" mode="md">
        <ion-segment-button value="friends">
            {{ 'friends.FRIENDS' | translate }}
        </ion-segment-button>
        <ion-segment-button value="groups">
            {{ 'friends.GROUPS' | translate }}
        </ion-segment-button>
    </ion-segment>
    <ion-searchbar class="ion-no-padding ion-padding-top" *ngIf="displayType == 'friends' && (displayedFriends?.length > 0 || searchUserString)" [(ngModel)]="searchUserString" debounce="500" (ionChange)="searchFriend($event)" placeholder="{{'common.SEARCH_FRIEND' | translate}}" debounce="700">
    </ion-searchbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="displayType == 'friends'">
        <ion-list>
            <div *ngIf="(!displayedFriends || displayedFriends?.length == 0) && !searchUserString && !alreadyParticipants" text-center style="padding-top: 230px">
                <div class="welcome-title ion-text-center">
                    <div class="ion-margin-bottom">
                        <ion-icon name="people" color="primary" class="ion-5x"></ion-icon>
                    </div>
                    <p class="ion-margin-bottom">{{'friends.NO_FRIEND' | translate}}...</p>
                </div>
            </div>
            <div *ngIf="(!displayedFriends || displayedFriends?.length == 0) && searchUserString && !alreadyParticipants" text-center style="padding-top: 230px">
                {{'common.NOT_FOUND' | translate}}
            </div>
            <div *ngIf="displayedFriends?.length == 0 && alreadyParticipants" text-center style="padding-top: 230px">
                {{'friends.ALREADY_ADDED_ALL' | translate}}
            </div>
            <ion-item *ngFor="let friend of displayedFriends" lines="none">
                <ion-avatar slot="start">
                    <img *ngIf="friend.imageURL != '' " [src]="friend.imageURL" />
                    <img *ngIf="friend.imageURL == '' " src="../../../assets/images/default-avatar.png" />
                </ion-avatar>
                <ion-label>
                    <h6 class="text-ellipsis">{{friend.firstName}} {{friend.lastName}}</h6>
                </ion-label>
                <ion-checkbox [(ngModel)]="friend.checked" (click)="toggleUser(friend)"></ion-checkbox>
            </ion-item>
        </ion-list>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="presentAddFriends()">
                <ion-icon name="person-add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>

    <div *ngIf="displayType == 'groups'">
        <ion-list>
            <div *ngIf="groupList?.length == 0" text-center style="padding-top: 230px">
                <div class="welcome-title ion-text-center">
                    <div class="ion-margin-bottom">
                        <ion-icon name="people" color="primary" class="ion-5x"></ion-icon>
                    </div>
                    <p class="ion-margin-bottom">{{'friends.NO_GROUP' | translate}}...</p>
                </div>
            </div>
            <ion-item-sliding *ngFor="let item of groupList">
                <ion-item lines="inset" button (click)="addParticipants(item)">
                    <ion-avatar>
                        <img [src]="item.imageURL" *ngIf="item.imageURL != ''" />
                        <img src="../../../assets/images/default-users-avatar.png" *ngIf="item.imageURL == ''" />
                    </ion-avatar>
                    <ion-item class="user-infos" lines="none">
                        <p class="username" text-wrap>{{item.name}}</p>
                    </ion-item>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
    </div>

</ion-content>

<ion-footer *ngIf="displayType == 'friends'" padding-left padding-right>
    <ion-button class="ion-margin" expand="block" (click)="validateModal()" [disabled]="!participants.length > 0">
        {{'common.VALIDATE' | translate}}
    </ion-button>
</ion-footer>