<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" [routerLink]="['/tabs/friends']">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'group-details.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col text-center>
            <img class="avatar" [src]="base64Image" *ngIf="base64Image" />
            <img class="avatar" src="../../../assets/images/default-users-avatar.png" *ngIf="!base64Image" />
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-center>
            <a *ngIf="canEdit" (click)="editPicture()">
        {{'common.EDIT_PICTURE' | translate}}
      </a>
        </ion-col>
    </ion-row>

    <ion-list>
        <ion-item *ngIf="canEdit">
            <ion-label>{{'group-details.GROUP' | translate}} : </ion-label>
            <ion-input required type="text" spellcheck="true" autocomplete="on" autocorrect="on" placeholder="{{'group-details.NAME' | translate}}" [(ngModel)]="group.name" (keyup)="onKey($event)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!canEdit">
            <ion-label>{{'group-details.GROUP' | translate}} : {{ group.name }}</ion-label>
        </ion-item>

        <ion-item no-padding nowrap *ngFor="let member of displayedMembers">
            <ion-avatar *ngIf="member.firebaseId" (click)="showUser(member.firebaseId)">
                <img [src]="member.imageURL" *ngIf="member.imageURL != '' " />
                <img src="../../../assets/images/default-avatar.png" *ngIf="member.imageURL == '' " />
            </ion-avatar>

            <div *ngIf="member.firebaseId" padding (click)="showUser(member.firebaseId)">
                {{member.firstName}} {{member.lastName}}
            </div>

            <ion-buttons slot="end" style="position: absolute; right: 0.5em;" *ngIf="member.firebaseId === authService.getCurrentUserId() && !canEdit">
                <ion-button icon-only (click)="removeMember(member, true)">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>

            <ion-buttons slot="end" style="position: absolute; right: 0.5em;">
                <ion-button *ngIf="member.firebaseId !== authService.getCurrentUserId() && canEdit" text-right (click)="removeMember(member)">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>

        </ion-item>
    </ion-list>
    <!-- </div>    -->

    <ion-button *ngIf="canEdit" expand="block" fill="outline" (click)="addMembers()">
        {{'group-details.ADD_MEMBER' | translate}}
    </ion-button>

</ion-content>

<ion-footer>
    <ion-button *ngIf="canEdit" expand="full" (click)="saveGroup(true)" [disabled]="!group.name">
        {{'common.SAVE' | translate}}
    </ion-button>
</ion-footer>