.avatar {
    // width: 80px;
    // height:80px;
    // border-radius: 50%;
    // -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 1rem auto 0;
    width: 80px;
    height: 80px;
}