<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="cancel()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'edit-profile.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed>
        <ion-row>
            <ion-col text-center>
                <ion-avatar class="avatar">
                    <img [src]="imageURL" *ngIf="imageURL && !base64Image" />
                    <img [src]="base64Image" *ngIf="base64Image" />
                    <img src="../../../assets/images/default-avatar.png" *ngIf="!imageURL && !base64Image" />
                </ion-avatar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <a (click)="editPicture()">{{'common.EDIT_PICTURE' | translate}}</a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating"> {{'edit-profile.FIRSTNAME' | translate}} : </ion-label>
                    <ion-input placeholder="" [(ngModel)]="firstName"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating"> {{'edit-profile.LASTNAME' | translate}} : </ion-label>
                    <ion-input placeholder="{{displayName}}" [(ngModel)]="lastName"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating"> {{'edit-profile.ADDRESS_EMAIL' | translate}} : </ion-label>
                    <ion-input placeholder="{{ 'edit-profile.ADDRESS_EMAIL_PLACEHOLDER' | translate }}" [(ngModel)]="email"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating"> {{'edit-profile.ADDRESS' | translate}} : </ion-label>
                    <ion-input id="input-address-profile" placeholder="{{addressComplete}}"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="saveProfile()" expand="block" class="ion-margin">
                    {{'common.VALIDATE' | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>