<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-buttons slot="start">
            <ion-button color="white" (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'add-transport.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed>
        <ion-toolbar>
            <ion-searchbar [(ngModel)]="addressDeparture" id="input-address-transport" placeholder="{{'add-transport.TRANSPORT_FROM' | translate}}">
            </ion-searchbar>
            <ion-buttons slot="end">
                <ion-button color="primary" icon-only (click)="setLocationFromProfile()">
                    <ion-icon name="home"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <div #mapEventTransport id="mapEventTransport"></div>
        <ion-item>
            <ion-label>{{'add-transport.TRANSPORT_DATE' | translate}}</ion-label>

            <ion-datetime displayFormat="DD/MM/YYYY {{'add-transport.TRANSPORT_HOUR' | translate}} HH:mm" pickerFormat="DD/MM/YYYY HH:mm +01:00" [min]="today" [max]="eventDateMax"cancelText="{{'common.CANCEL' | translate}}" doneText="{{'common.OK' | translate}}" [(ngModel)]="transportDate" required>
            </ion-datetime>
        </ion-item>
        <!--<ion-item>
            <ion-label>{{'add-transport.TRANSPORT_HOUR' | translate}}</ion-label>
            <ion-datetime type="time" displayFormat="H:mm" cancelText="{{'common.CANCEL' | translate}}" doneText="{{'common.OK' | translate}}" [min]="" [max]="transportDateHour" [(ngModel)]="transportHour" required></ion-datetime>
        </ion-item>-->
        <ion-item>
            <ion-label>{{'add-transport.TRANSPORT_TYPE' | translate}}</ion-label>
            <ion-select [(ngModel)]="transportType" interface="action-sheet" multiple="false" (ngModelChange)='onSelect()'>
                <ion-select-option value="CAR">{{'add-transport.CAR' | translate}}</ion-select-option>
                <ion-select-option value="BUS">{{'add-transport.BUS' | translate}}</ion-select-option>
                <ion-select-option value="SUBWAY">{{'add-transport.SUBWAY' | translate}}</ion-select-option>
                <ion-select-option value="TRAIN">{{'add-transport.TRAIN' | translate}}</ion-select-option>
                <ion-select-option value="TAXI">{{'add-transport.TAXI' | translate}}</ion-select-option>
                <ion-select-option value="WALK">{{'add-transport.WALK' | translate}}</ion-select-option>
                <ion-select-option value="MOTO">{{'add-transport.MOTO' | translate}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item id="nbPlaces">
            <ion-label>{{'add-transport.PLACES' | translate}}</ion-label>
            <ion-select [(ngModel)]="transportPlaces" interface="action-sheet" multiple="false" *ngIf="transportType != 'MOTO'">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-row>
            <ion-col text-center>
                <ion-button [disabled]="!addressDeparture || !transportDate || !transportType || isSending" (click)="addTransport()">
                    {{'common.SAVE' | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>