<ion-header>
    <ion-toolbar class="gradient-color">
        <ion-title>
            <!--<img text-center src="assets/images/logo-upviewsly-white.png" class="title-image" />-->
            {{ 'onboarding.FILL_PROFILE' | translate }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="white" [disabled]="!group.valid" (click)="forward()">
                {{ 'onboarding.NEXT' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <div class="ion-text-left">
                        <p class="ion-margin-bottom ion-text-center">{{ 'onboarding.EASY_FIND_FRIENDS' | translate }}.</p>
                    </div>
                </ion-item>
                <ion-list [formGroup]="group">
                    <ion-item class="ion-margin-bottom">
                        <ion-label position="floating">{{ 'onboarding.INPUT_FIRSTNAME' | translate }}</ion-label>
                        <ion-input type="text" formControlName="firstName" (ngModelChange)="pseudoSubject.next($event)" (ionChange)="changeState($event, 'firstname')" placeholder="{{ 'onboarding.INPUT_FIRSTNAME' | translate }}" [(ngModel)]="firstName" required></ion-input>
                    </ion-item>
                    <ng-container *ngIf="(!firstActionOnFirstname) ? true : false">
                        <ion-text class="ion-text-nowrap ion-no-padding ion-padding-vertical" color="danger" *ngIf="(firstName.length > 50 || firstName.length < 2 || firstName.length < 2) ? true : false && !group.valid" class="ion-padding error-color-field">
                            {{ 'onboarding.MAX_CHAR_FIRSTNAME' | translate }}
                        </ion-text>
                    </ng-container>
                    <ion-item class="ion-margin-bottom">
                        <ion-label position="floating">{{ 'onboarding.INPUT_LASTNAME' | translate }}</ion-label>
                        <ion-input type="text" formControlName="lastName" placeholder="{{ 'onboarding.INPUT_LASTNAME' | translate }}" (ionChange)="changeState($event, 'lastname')" [(ngModel)]="lastName" required></ion-input>
                    </ion-item>
                    <ng-container *ngIf="(!firstActionOnLastname) ? true : false">
                        <ion-text color="danger" *ngIf="(lastName.length > 50 || lastName.length < 2) ? true : false && !group.valid" class="ion-padding error-color-field">
                            {{ 'onboarding.MAX_CHAR_LASTNAME' | translate }}
                        </ion-text>
                    </ng-container>
                    <ion-item>
                        <ion-label position="floating">{{ 'onboarding.ADDRESS_PLACEHOLDER' | translate }}</ion-label>
                        <ion-input id="input-personal-address" formControlName="address" placeholder="{{'onboarding.ADDRESS_PLACEHOLDER' | translate}}" [(ngModel)]="address" required></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>