.title-image {
    height: 24px;
}

.error-color-field {
    display: inline-block;
    color: red !important;
    padding-top: 0;
}

.success-color-field {
    display: inline-block;
    padding-top: 0;
}